{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/cart_style.css' %}"/>
    <link type="text/css" rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"/>
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"/>
    <link type="text/css" rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

</head>
<body>
<div class="card">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col"><h4><b>عربة التسوق</b></h4></div>
                    <div class="col align-self-center text-right text-muted">{{cartItems}} منتج</div>
                </div>
            </div>
            {% for item in items %}
            <div class="row">
                <div class="row main align-items-center">
                    <div class="col-2"><img class="img-fluid" src="{{item.product.thumbnail.url}}"></div>
                    <div class="col">
                        <div class="row text-muted">{{item.product.title}}</div>
                        <div class="row">{{item.product.price|floatformat:2}} L.E</div>
                    </div>
                    <div class="col">

                        <button data-product="{{item.product.id}}" data-action="remove"
                                class="chg-quantity update-cart">-
                        </button>
                        <span class="border">{{item.quantity}}</span>
                        <button data-product="{{item.product.id}}" data-action="add" class="chg-quantity update-cart">
                            +
                        </button>
                    </div>
                    <div class="col">{{item.get_total|floatformat:2}} L.E
                        <button data-product="{{item.product.id}}" data-action="close" class="update-cart">&#10005;
                        </button>
                    </div>
                </div>
            </div>
            {% endfor %}

            <div class="back-to-shop"><a href="{% url 'store' %}">&leftarrow;<span
                    class="text-muted">الرجوع للتسوق</span></a></div>
        </div>
        <div class="col-md-4 summary">
            <div><h5><b>المنتجات</b></h5></div>
            <hr>
            <div class="row">
                <div class="col" style="padding-left:0;">تكلفة الكل {{order.get_cart_items}}</div>
                <div class="col text-right"> ${{order.get_cart_total|floatformat:2}}</div>
            </div>
            <form>
                <p>تكلفة الشحن</p>
                <select>
                    <option class="text-muted">L.E سعر التوصيل 5.00</option>
                </select>

            </form>
            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col">تكلفة الكل</div>
                <div class="col text-right">${{order.get_cart_total|floatformat:2}}</div>
            </div>
            <button class="btn"><a href="{% url 'checkout' %}">اتمام عملية الدفع</a></button>
        </div>
    </div>

</div>
<script>
		function getCookie(name) {
		    // Split cookie string and get all individual name=value pairs in an array
		    var cookieArr = document.cookie.split(";");

		    // Loop through the array elements
		    for(var i = 0; i < cookieArr.length; i++) {
		        var cookiePair = cookieArr[i].split("=");

		        /* Removing whitespace at the beginning of the cookie name
		        and compare it with the given string */
		        if(name == cookiePair[0].trim()) {
		            // Decode the cookie value and return
		            return decodeURIComponent(cookiePair[1]);
		        }
		    }

		    // Return null if not found
		    return null;
		}
		var cart = JSON.parse(getCookie('cart'))

		if (cart == undefined){
			cart = {}
			// console.log('Cart Created!', cart)
			document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
		}
		//console.log('Cart:', cart)
	

</script>
<script src="{% static 'js/cart.js' %}"></script>
</body>
</html>
{% comment %}
{% extends 'store/basestore.html' %}
{% load static %}
{% block content %}

{% for item in items %}
<div class="cart-row">
    <div><img class="row-image" src="{{item.product.thumbnail.url}}"></div>
    <div><p>{{item.product.title}}</p></div>
    <div><p>${{item.product.price|floatformat:2}}</p></div>
    <div>
        <p class="quantity">{{item.quantity}}</p>
        <div class="quantity">
            <img data-product="{{item.product.id}}" data-action="add" class="chg-quantity update-cart"
                 src="{% static  'images/arrow-up.png' %}">

            <img data-product="{{item.product.id}}" data-action="remove" class="chg-quantity update-cart"
                 src="{% static  'images/arrow-down.png' %}">
        </div>
    </div>
    <div style="flex:1"><p>${{item.get_total|floatformat:2}}</p></div>
</div>
{% endfor %}

{% endblock content %}

{% block js %}
<script src="{% static 'js/main.js' %}"></script>
{% endblock js %}
{% endcomment %}