{% extends "store/basestore.html" %}
{% load static %}
{% comment %} {% block nav %}
                        <li><a href="/store">الصفحة الرئيسية </a></li>
						<li><a href="{% url 'main' %}">الصفحة الرئيسية للموقع </a></li>
						<li><a href="relaptops"> لاب توب</a></li>
						<li><a href="repcs">كمبيوتر مكتبي </a></li>
						<li><a href="reshirts">تيشيرتات</a></li>
						<li><a href="rebooks">كتب</a></li>
						<li><a href="remugs">مج</a></li>
{% endblock nav %} {% endcomment %}
{% block content %}
		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12 checkout-header">
						<h3 class="breadcrumb-header">الدفع</h3>
						<ul class="breadcrumb-tree">
							<li><a href="/store">المتحر</a></li>
							<li><a href="/store/cart">عربة التسوق</a></li>
							<li class="active">الدفع</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					

					<!-- Order Details -->
					<div class="col-md-5 order-details">
						<div class="section-title text-center">
							<h3 class="title">ملخص الطلب </h3>
						</div>
						<div class="order-summary">
							<div class="order-col">
								<div><strong>المنتج</strong></div>
								<div><strong>السعر</strong></div>
							</div>
							<div class="order-products">
							    {% for item in items %}
								<div class="order-col">
									<div>{{item.quantity}}x {{item.product.title}}</div>
									<div>{{item.get_total|floatformat:2}} L.E</div>
								</div>
								{% endfor %}
								{% comment %} <div class="order-col">
									<div>2x Product Name Goes Here</div>
									<div>$980.00</div>
								</div> {% endcomment %}
							</div>
							<div class="order-col">
								<div>Shiping</div>
								<div><strong id="myid">اختر محافظتك الأول</strong></div>
							</div>
							<div class="order-col">
								<div><strong>مجموع الشحنه</strong></div>
								<div><strong class="order-total"><span id='totalpay'>{{order.get_cart_total|floatformat:2}}</span>L.E</strong></div>
							</div>
						</div>
						{% comment %} <div class="payment-method">
							<div class="input-radio">
								<input type="radio" name="payment" id="payment-1">
								<label for="payment-1">
									<span></span>
									Direct Bank Transfer
								</label>
								<div class="caption">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								</div>
							</div>
							<div class="input-radio">
								<input type="radio" name="payment" id="payment-2">
								<label for="payment-2">
									<span></span>
									Cheque Payment
								</label>
								<div class="caption">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								</div>
							</div>
							<div class="input-radio">
								<input type="radio" name="payment" id="payment-3">
								<label for="payment-3">
									<span></span>
									Paypal System
								</label>
								<div class="caption">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								</div>
							</div>
						</div> 
						<div class="input-checkbox">
							<input type="checkbox" id="terms">
							<label for="terms">
								<span></span>
								I've read and accept the <a href="#">terms & conditions</a>
							</label>
						</div>{% endcomment %}
			<form id="form">
			  {% csrf_token %}
			            <button class="primary-btn order-submit" type="submit" id='order-submit'>Submit form</button>
						{% comment %} <a href="#" class="primary-btn order-submit" type="submit" id="order-submit">اتمام عملية الشحن</a> {% endcomment %}
					</div>
					<!-- /Order Details -->
					<div class="col-md-7 checkout-7">
						<!-- Billing Details -->
						<div class="billing-details">
							<div class="section-title">
								<h3 class="title">معلومات لتوصيل الشحنه</h3>
							</div>
							<div class="form-group">
								<input required class="input" type="text" name="fullname" placeholder="الإسم بالكامل">
							</div>
							
							<div class="form-group">
								<select id="cities" class="form-group" required>
                                 <option value="">--إختر محافظتك--</option>
                                </select>
							</div>
				
							<div class="form-group">
								<input required class="input" type="text" name="address" placeholder="العنوان بالتفاصيل">
							</div>
							<div class="form-group">
								<input required class="input" type="tel" name="phone" placeholder="رقم الهاتف">
							</div>
							<div class="form-group">
								<input required class="input" type="tel" name="whatsapp" placeholder="رقم هاتف به واتس">
							</div> 
						
						</div>
						<!-- /Billing Details -->

						<!-- Shiping Details -->
						<div class="shiping-details">
							<div class="section-title">
								<h3 class="title">اترك ملاحظة</h3>
							</div>
							
						</div>
						<!-- /Shiping Details -->

						<!-- Order notes -->
						<div class="order-notes">
							<textarea class="input" name="notes" placeholder="Order Notes"></textarea>
						</div> 
						<!-- /Order notes -->
				</form>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->


	<script type="text/javascript">
	
	var total = '{{order.get_cart_total}}'
	console.log('cart empty',total)
	var form = document.getElementById('form')
	csrftoken =form.getElementsByTagName('input')[0].value
	//console.log('token:',form.getElementsByTagName('input')[0].value)
	form.addEventListener('submit', function(e){
		   if (total == 0){
			e.preventDefault()
			alert('عربة التسوق فاضية!! إملاها وتعالى'); 
			window.location.href = "{% url 'store' %}"
		   }
		   else{
			e.preventDefault()
	    	submitFormData(csrftoken)
		   }
		   })
	     
	function submitFormData(){
		   const shipping_cost = document.getElementById('myid');
		   
	    	console.log('Payment button clicked')

			var shippingInfo = {
				'fullname':null,
				'address':null,
				'phone':null,
				'whatsapp':null,
				'city':null,
				'notes':null,
				'total':total,
				'shipping_cost':shipping_cost.textContent
			}
            shippingInfo.fullname = form.fullname.value
			shippingInfo.address = form.address.value
			shippingInfo.phone = form.phone.value
            shippingInfo.whatsapp = form.whatsapp.value
            shippingInfo.notes = form.notes.value

		    var select = document.getElementById('cities');
            var city = select.options[select.selectedIndex].value;
			shippingInfo.city = city
            
	    	//console.log('Shipping Info:', shippingInfo)


	    	var url = "processorder"
	    	fetch(url, {
	    		method:'POST',
	    		headers:{
	    			'Content-Type':'applicaiton/json',
					'X-CSRFToken':csrftoken,
	    		}, 
	    		body:JSON.stringify({'shipping':shippingInfo}),
	    		
	    	})

	    	.then((response) => response.text())
	    	.then((data) => { 
				//console.log('Success:', data);
				alert('Transaction completed');  
					
                cart = {}
				document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
				window.location.href = "{% url 'store' %}"

				})
	    }
		
</script>
<script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
<script src="{% static 'js/checkout.js' %}" id="helper" data-name='{{order.get_cart_total}}'></script>
{% endblock content %}

