{% extends "store/basestore.html" %}
{% load static %}
{% block nav %}
                        <li><a href="remugs">مج</a></li>
                        <li><a href="rebooks">كتب</a></li>
                        <li><a href="reshirts">تيشيرتات</a></li>
                        <li><a href="repcs">كمبيوتر مكتبي </a></li>
                        <li><a href="relaptops"> لاب توب</a></li>
						<li class="active"><a href="/store">الصفحة الرئيسية للمتجر </a></li>
						<li><a href="{% url 'main' %}">الصفحة الرئيسية للموقع </a></li>
{% endblock nav %}
{% block content %}

<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- ASIDE -->
					 <div id="aside" class="col-md-1">
						<!-- aside Widget -->
					</div> 
					<!-- /ASIDE -->

					<!-- STORE -->
					<div id="store" class="col-md-10">
						<!-- store top filter -->
						<div class="store-filter clearfix">
							<div class="store-sort">
								<label>
									Sort By:
									<select class="input-select">
										<option value="0">Popular</option>
										<option value="1">Position</option>
									</select>
								</label>

								<label>
									Show:
									<select class="input-select">
										<option value="0">20</option>
										<option value="1">50</option>
									</select>
								</label>
							</div>
							<ul class="store-grid">
								<li class="active"><i class="fa fa-th"></i></li>
								<li><a href="#"><i class="fa fa-th-list"></i></a></li>
							</ul>
						</div>
						<!-- /store top filter -->

						<!-- store products -->
						<div class="row">
							 {% for book in books %}
							<!-- product -->
							<div class="col-md-4 col-xs-6" style="float: right;">
								<div class="product">
									<div class="product-img">
										<img src={{ book.img.url }} alt="">
                                        <div class="product-label">
											<span class="new">{{ book.productCondition }}</span>
										</div>
									</div>
									<div class="product-body">
										<!-- <p class="product-category">Category</p> -->
										<h3 class="product-name"><a href="{% url 'bookcontent' book.slug %}">{{ book.title }}</a></h3>
										<h4 class="product-price">{{ book.price }}<del class="product-old-price">$990.00</del></h4>
										
									</div>
									<div class="add-to-cart">
										<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
									</div>
								</div>
							</div>
							<!-- /product -->
                           {% endfor %}
							
							{% for mug in mugs %}
							<!-- product -->
							<div class="col-md-4 col-xs-6" style="float: right;">
								<div class="product">
									<div class="product-img">
										<img src={{ mug.thumbnail.url }} alt="">
                                        <div class="product-label">
											<span class="new">{{ mug.productCondition }}</span>
										</div>
									</div>
									<div class="product-body">
										<!--  <p class="product-category">Category</p> -->
										<h3 class="product-name"><a href="{% url 'mug' mug.slug %}">{{ mug.title }}</a></h3>
										<h4 class="product-price">{{ mug.price }}<del class="product-old-price">$990.00</del></h4>
										
									</div>
									<div class="add-to-cart">
										<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
									</div>
								</div>
							</div>
							<!-- /product -->
                           {% endfor %}

                           {% for pc in pcs %}
							<!-- product -->
							<div class="col-md-4 col-xs-6" style="float: right;">
								<div class="product">
									<div class="product-img">
										<img src={{ pc.thumbnail.url }} alt="">
                                        <div class="product-label">
											<span class="new">{{ pc.productCondition }}</span>
										</div>
									</div>
									<div class="product-body">
										<!-- <p class="product-category">Category</p> -->
										<h3 class="product-name"><a href="{% url 'pc' pc.slug %}">{{ pc.title }}</a></h3>
										<h4 class="product-price">{{ pc.price }}<del class="product-old-price">$990.00</del></h4>
									</div>
									<div class="add-to-cart">
										<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
									</div>
								</div>
							</div>
							<!-- /product -->
                           {% endfor %}

                           {% for laptop in laptops %}
							<!-- product -->
							<div class="col-md-4 col-xs-6" style="float: right;">
								<div class="product">
									<div class="product-img">
										<img src={{ laptop.thumbnail.url }} alt="">
                                        <div class="product-label">
											<span class="new">{{ laptop.productCondition }}</span>
										</div>
									</div>
									<div class="product-body">
										
										<h3 class="product-name"><a href="{% url 'onelaptop' laptop.slug %}">{{ laptop.title }}</a></h3>
										<h4 class="product-price">{{ laptop.price }}<del class="product-old-price">$990.00</del></h4>
										
									</div>
									<div class="add-to-cart">
										<button  data-actions-icnt="add" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
									</div>
								</div>
							</div>
							<!-- /product -->
                           {% endfor %}

                           {% for shirt in shirts %}
							<!-- product -->
							<div class="col-md-4 col-xs-6" style="float: right;">
								<div class="product">
									<div class="product-img">
										<img src={{ shirt.thumbnail.url }} alt="">
                                        <div class="product-label">
											<span class="new">{{ shirt.productCondition }}</span>
										</div>
									</div>
									<div class="product-body">
										
										<h3 class="product-name"><a href="{% url 'shirt' shirt.slug %}">{{ shirt.slug }}</a></h3>
										<h4 class="product-price">{{ shirt.price }}<del class="product-old-price">$990.00</del></h4>
										
									</div>
									<div class="add-to-cart">
										<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
									</div>
								</div>
							</div>
							<!-- /product -->
                           {% endfor %}  
						</div>
						<!-- /store products -->


						
                        

                   
<!--		
{% for products in all %} 
                                {% for product in products %}
                                   <div class="col-md-4 col-xs-6" style="float: right;">
								<div class="product">
									<div class="product-img">
										<img src={% static 'img/product01.png' %} alt="">
                                        <div class="product-label">
											<span class="new">{{ product.productCondition }}</span>
										</div>
									</div>
									<div class="product-body">
										<p class="product-category">Category</p> 
										<h3 class="product-name"><a href="#">{{ product.title }}</a></h3>
										<h4 class="product-price">{{ product.price }}<del class="product-old-price">$990.00</del></h4>
										
									</div>
									<div class="add-to-cart">
										<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
									</div>
								</div>
							</div>
                                {% endfor %}  
                            {% endfor %}  -->

<!-- NEWSLETTER -->
<div id="newsletter" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="newsletter">
                    <p>Sign Up for the <strong>NEWSLETTER</strong></p>
                    <form>
                        <input class="input" type="email" placeholder="Enter Your Email">
                        <button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
                    </form>
                    <ul class="newsletter-follow">
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /NEWSLETTER -->

{% endblock content %}