{% extends "store/basestore.html" %}
{% load static %}
{% block nav %}
                        <li><a href="/store">الصفحة الرئيسية </a></li>
						<li><a href="{% url 'main' %}">الصفحة الرئيسية للموقع </a></li>
						<li><a href="laptops"> لاب توب</a></li>
						<li><a href="pcs">كمبيوتر مكتبي </a></li>
						<li class="active"><a href="shirts">تيشيرتات</a></li>
						<li><a href="books">كتب</a></li>
						<li ><a href="done">مج</a></li>
{% endblock nav %}
{% block content %}

<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- ASIDE -->
					 <div id="aside" class="col-md-1">
						
					</div> 
					<!-- /ASIDE -->

					<!-- STORE -->
					<div id="store" class="col-md-10">
						
						<!-- store products -->
						<div class="row">
							{% for shirt in shirts %}
							<!-- product -->
							<div class="col-md-4 col-xs-6" style="float: right;">
								<div class="product">
									<div class="product-img">
										<img src={{ shirt.thumbnail.url }} alt="">
									</div>
									<div class="product-body">
										
										<h3 class="product-name"><a href="{% url 'shirt' shirt.slug %}">{{ shirt.slug }}</a></h3>
										<h4 class="product-price">{{ shirt.price }}<del class="product-old-price">$990.00</del></h4>
										
									</div>
									<div class="add-to-cart">
										<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
									</div>
								</div>
							</div>
							<!-- /product -->
                           {% endfor %}
							
							<!-- /product -->
						</div>
						<!-- /store products -->

						<!-- store bottom filter -->
						<div class="store-filter clearfix">
							<span class="store-qty">Showing 20-100 products</span>
							<ul class="store-pagination">
								<li class="active">1</li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
							</ul>
						</div>
						<!-- /store bottom filter -->
					</div>
					<!-- /STORE -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->





        
{% endblock content %}