{% extends "store/basestore.html" %}

{% block content %}

<h1>
cooooooooonteeeeeeeeent
</h1>
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Product main img -->
            <div class="col-md-5 col-md-push-2">
                <div id="product-main-img">
                    <div class="product-preview">
                        <img src="../static/store/img/product01.png" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="../static/store/img/product03.png" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="../static/store/img/product06.png" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="../static/store/img/product08.png" alt="">
                    </div>
                </div>
            </div>
            <!-- /Product main img -->

            <!-- Product thumb imgs -->
            <div class="col-md-2  col-md-pull-5">
                <div id="product-imgs">
                    <div class="product-preview">
                        <img src="../static/store/img/product01.png" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="../static/store/img/product03.png" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="../static/store/img/product06.png" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="../static/store/img/product08.png" alt="">
                    </div>
                </div>
            </div>
            <!-- /Product thumb imgs -->

            <!-- Product details -->
            <div class="col-md-5">
                <div class="product-details">
                    <h2 class="product-name">product name goes here</h2>
                    <div>
                        <h3 class="product-price">$980.00
                            <del class="product-old-price">$990.00</del>
                        </h3>
                        {% comment %} <span class="product-available">In Stock</span> {% endcomment %}
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <div class="add-to-cart">
                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> order the product</button>
                    </div>
                    
                </div>
            </div>
            <!-- /Product details -->

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->

{% endblock content %}


  

<div class="a-box">
  <div class="img-container">
    <div class="img-inner">
      <div class="inner-skew">
        <img src="https://images.unsplash.com/photo-1584791097929-aa825fe8e1e1?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ">
      </div>
    </div>
  </div>
  <div class="text-container">
    <h3>A blue bird</h3>
    <div>
      This a demo experiment to skew image container. It looks good.
  </div>
</div>



