 {% extends "base.html" %}
{% block nav %}
<li><a href="store">المتجر</a></li>
<li class="active"><a href="about">فريق العمل</a></li>
<li ><a href="videos">الفيديوهات</a></li>
<li><a href="/">الصفحة الرئيسية</a></li>
{% endblock nav %}
{% block content %} 

 <div class="container">
 <hr class="separator separator--line" />
	<div class="row">
     {% comment %} <h4 class="text-center"><strong> Our Team</strong></h4> {% endcomment %}
     <div class="col-md-4">
			<div class="profile-card-6"><img src="https://picsum.photos/300/375" class="img img-responsive">
				<div class="profile-name">AMR
					<br>GAMAL
				</div>
				<div class="profile-position">Creator and Presenter</div>
				<div class="profile-overview">
					<div class="profile-overview">
						<div class="row text-center">
							<div class="col-xs-4">
								<h3><a href="#"><i class="fa fa-youtube fa2"></i></a></h3>
								{% comment %} <p>twitter</p> {% endcomment %}
							</div>
							<div class="col-xs-4">
								<h3><a href="#"><i class="fa fa-facebook fa2"></i></a></h3>
								
							</div>
							<div class="col-xs-4">
								<h3><i class="fa fa-linkedin fa2"></i></a></h3>
							
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    <div class="col-md-4">
			<div class="profile-card-6"><img src="https://picsum.photos/300/375" class="img img-responsive">
				<div class="profile-name">AYA
					<br>EHAB
				</div>
				<div class="profile-position">Web Developer</div>
				<div class="profile-overview">
					<div class="profile-overview">
						<div class="row text-center">
							<div class="col-xs-4">
								<h3><a href="#"><i class="fa fa-github fa2"></i></a></h3>
								{% comment %} <p>twitter</p> {% endcomment %}
							</div>
							<div class="col-xs-4">
								<h3><a href="#"><i class="fa fa-facebook fa2"></i></a></h3>
								
							</div>
							<div class="col-xs-4">
								<h3><i class="fa fa-linkedin fa2"></i></a></h3>
							
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    <div class="col-md-4">
			<div class="profile-card-6"><img src="https://picsum.photos/300/375" class="img img-responsive">
				<div class="profile-name">FOLAN
					<br>FOLAN
				</div>
				<div class="profile-position">Important Position</div>
				<div class="profile-overview">
					<div class="profile-overview">
						<div class="row text-center">
							<div class="col-xs-4">
								<h3><a href="#"><i class="fa fa-youtube fa2"></i></a></h3>
								{% comment %} <p>twitter</p> {% endcomment %}
							</div>
							<div class="col-xs-4">
								<h3><a href="#"><i class="fa fa-facebook fa2"></i></a></h3>
								
							</div>
							<div class="col-xs-4">
								<h3><i class="fa fa-linkedin fa2"></i></a></h3>
							
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>




		{% comment %} <div class="col-md-6">
			<div class="profile-card-2"><img src="https://picsum.photos/300/375" class="img img-responsive">
				<div class="profile-name">AMR GAMAL</div>
				<div class="profile-username">Creator and Presenter</div>
				<div class="profile-icons"><a href="#"><i class="fa fa-facebook fa2"></i></a><a href="#"><i class="fa fa-twitter fa2"></i></a><a href="#"><i class="fa fa-linkedin fa2"></i></a></div>
			</div>
		</div>
    <div class="col-md-6">
			
			<div class="profile-card-2"><img src="https://picsum.photos/300/428" class="img img-responsive">
				<div class="profile-name">AYA EHAB</div>
				<div class="profile-username">Web Developer</div>
				<div class="profile-icons"><a href="#"><i class="fa fa-facebook fa2"></i></a><a href="#"><i class="fa fa-twitter fa2"></i></a><a href="#"><i class="fa fa-linkedin fa2"></i></a></div>
			</div>
		</div> {% endcomment %}
    
	</div>
  <hr class="separator" />
  
</div>
{% endblock content %} 




{% comment %} <!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Blog Post - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
    
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>


 {% endcomment %}













{% comment %} <!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Elwekeel Academy</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="all,follow">
  <!-- Bootstrap CSS-->
  <link rel="stylesheet" href="https://d19m59y37dris4.cloudfront.net/creative/2-0-1/vendor/bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome CSS-->
  <link rel="stylesheet" href="https://d19m59y37dris4.cloudfront.net/creative/2-0-1/vendor/font-awesome/css/font-awesome.min.css">
  <!-- Google fonts - Roboto-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,300,700,400italic">
  <!-- owl carousel-->
  <link rel="stylesheet" href="https://d19m59y37dris4.cloudfront.net/creative/2-0-1/vendor/owl.carousel/assets/owl.carousel.css">
  <link rel="stylesheet" href="https://d19m59y37dris4.cloudfront.net/creative/2-0-1/vendor/owl.carousel/assets/owl.theme.default.css">
  <!-- theme stylesheet-->
  <link rel="stylesheet" href="https://d19m59y37dris4.cloudfront.net/creative/2-0-1/css/style.default.css" id="theme-stylesheet">
  <!-- Custom stylesheet - for your changes-->
  <link rel="stylesheet" href="https://d19m59y37dris4.cloudfront.net/creative/2-0-1/css/custom.css">
  <!-- Favicon-->
  <link rel="shortcut icon" href="https://d19m59y37dris4.cloudfront.net/creative/2-0-1/img/favicon.png">

</head>
<body>
<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
          <li><a href="posts" class="nav-link px-2 text-white">Posts</a></li>
          <li><a href="videos" class="nav-link px-2 text-white">Videos</a></li>
          <li><a href="portfolio" class="nav-link px-2 text-white">Portfolio</a></li>
          <li><a href="about" class="nav-link px-2 text-white">About</a></li>
          <li><a href="store" class="nav-link px-2 text-white">Store</a></li>
        </ul>

      </div>
    </div>
  </header>
  <div id="all" >
    <div class="container-fluid" >
      <div class="row row-offcanvas row-offcanvas-left">
        <!--   *** SIDEBAR ***-->
        <div id="sidebar" class="col-md-4 col-lg-3 sidebar-offcanvas" >
          <div class="sidebar-content">
            <h1 class="sidebar-heading"> <a href="/">Creative</a></h1>
            <p class="sidebar-p">languages : Java , Python , Dart .
                            Web development: html , css , Django .
                            Operating system : Windows (very Good ), Linux (basics).
                            framework : Flutter , Django.
                            database : PhpMyAdmin , SQLite .
                            Design patterns : RXdart , Bloc , Provider </p>
            <p class="sidebar-p">Originally from Toronto, currently based in London. </p>
            <p class="social" >
              <a href="https://www.linkedin.com/in/amr-elwekeel-032ab6190/" data-animate-hover="pulse" class="external facebook" style="color: #6495ed;"><i class="fa fa-linkedin"></i></a>
              <a  style="color: #6495ed;" href="https://www.facebook.com/amr.gamal.7737769/" data-animate-hover="pulse" class="external facebook">
                <i class="fa fa-facebook"></i></a>
              <a href="#" data-animate-hover="pulse" class="external gplus" style="color: #6495ed;"><i class="fa fa-google-plus"></i></a>

              <a style="color: #6495ed;" href="https://www.instagram.com/amrelwkeell/" title="" class="external instagram">
                <i class="fa fa-instagram"></i></a>
              <a style="color: #6495ed;" href="https://mail.google.com/mail/u/0/#inbox" data-animate-hover="pulse" class="email">
                <i class="fa fa-envelope"></i></a></p>
            <div class="copyright text-center text-md-left">
              <!-- Please do not remove the backlink to us, unless you support the development at http://bootstrapious.com/donate. It is part of the license conditions. Thanks for understanding :)        -->
            </div>
          </div>
        </div>
        <!--   *** SIDEBAR END ***  -->
        <!--   *** DETAIL ***-->
        <div class="col-md-8 col-lg-9 content-column white-background">
          <div class="small-navbar d-flex d-md-none">
            <button type="button" data-toggle="offcanvas" class="btn btn-outline-primary"> <i class="fa fa-align-left mr-2"></i>Menu</button>
            <h1 class="small-navbar-heading" style="color:#6495ed;"> <a href="/">Creative </a></h1>
          </div>
          <div class="row">
            <div class="col-xl-10">
              <div class="content-column-content" style="color:#6495ed; ">
                <h1>About me</h1>
                <p class="lead">I am a graduate of 2018 of The High Institute for Tourism, Hotels
                     & Computer (H.U.T.C.H. ) I am passionate about Mobile Development. Skilled
                        in Java , Dart, Android SDK and Flutter SDK. Also, I have a good command of
                          OOP and Data Structures</p>
                <div class="row">
                  <div class="col-lg-8">
                    <p>I have 3 years experience with Flutter I trained on a lot of projects I
                        can work on any app , I am constantly improving myself I have a
                        lot of experience with dart language I look forward to working with
                        a company to gain more experience </p>
                    <div class="skill-item" >
                      <div class="progress-title">Java</div>
                      <div class="progress" style="color:#6495ed; ">
                        <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="background-color:#6495ed; width: 60%;" class="progress-bar progress-bar-skill1"><span class="sr-only" >60</span></div>
                      </div>
                    </div>
                    <div class="skill-item">
                      <div class="progress-title">Javascript</div>
                      <div class="progress">
                        <div role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="background-color:#6495ed; width: 70%;" class="progress-bar progress-bar-skill2"><span class="sr-only">70</span></div>
                      </div>
                    </div>
                    <div class="skill-item">
                      <div class="progress-title">HTML coding</div>
                      <div class="progress">
                        <div role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="background-color:#6495ed; width: 80%;" class="progress-bar progress-bar-skill3"><span class="sr-only">80</span></div>
                      </div>
                    </div>
                    <div class="skill-item">
                      <div class="progress-title">Python</div>
                      <div class="progress">
                        <div role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="background-color:#6495ed; width: 90%;" class="progress-bar progress-bar-skill4"><span class="sr-only">90</span></div>
                      </div>
                    </div>
                     <div class="skill-item" >
                      <div class="progress-title" >Dart</div>
                      <div class="progress">
                        <div role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="background-color:#6495ed;  width: 90%;" class="progress-bar progress-bar-skill4"><span class="sr-only">90</span></div>
                      </div>
                    </div>
                     <div class="skill-item">
                      <div class="progress-title">Flutter</div>
                      <div class="progress">
                        <div role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style=" background-color: 	#6495ed; width: 70%;" class="progress-bar progress-bar-skill4"><span class="sr-only">90</span></div>
                      </div>
                    </div>
                    <div class="skill-item">
                      <div class="progress-title">Django</div>
                      <div class="progress">
                        <div role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="background-color:#6495ed; width: 70%;" class="progress-bar progress-bar-skill5"><span class="sr-only">70</span></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4" >
                    <p><img src="{% static 'assets/amr.jpg'%}" alt="This is me" class="image rounded-circle img-fluid"></p>
                  </div>
                </div>
                <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didnt listen. She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
                <h4 class="text-uppercase" style="color:#6495ed; ">Education</h4>
                <ul>
                  <h6>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h6>
                </ul>
                <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- JavaScript files-->
  <script src="https://d19m59y37dris4.cloudfront.net/creative/2-0-1/vendor/jquery/jquery.min.js"></script>
  <script src="https://d19m59y37dris4.cloudfront.net/creative/2-0-1/vendor/popper.js/umd/popper.min.js"> </script>
  <script src="https://d19m59y37dris4.cloudfront.net/creative/2-0-1/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="https://d19m59y37dris4.cloudfront.net/creative/2-0-1/vendor/jquery.cookie/jquery.cookie.js"> </script>
  <script src="https://d19m59y37dris4.cloudfront.net/creative/2-0-1/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="https://d19m59y37dris4.cloudfront.net/creative/2-0-1/vendor/masonry-layout/masonry.pkgd.min.js"></script>
  <script src="https://d19m59y37dris4.cloudfront.net/creative/2-0-1/js/front.js"></script>
  <script src="https://d19m59y37dris4.cloudfront.net/creative/2-0-1/js/front.js"></script>
</body>
</html> {% endcomment %}