{% extends "base.html" %}
{% block nav %}
            <li><a href="/">Home</a></li>
						<li class="active"><a href="posts">Posts</a></li>
						<li><a href="videos">Videos</a></li>
						<li><a href="portfolio">Portfolio</a></li>
						<li><a href="about">About US</a></li>
						<li><a href="store">Store</a></li>
{% endblock nav %}
{% block content %}
    <h2>Content for posts</h2>
    <p>Lorem ipsum dolor sit amet. At dolorum ducimus est minima sapiente ea eaque dolor et amet quis aut rerum Quis. Et quos quae est nobis consequatur et impedit exercitationem ut impedit voluptatem hic voluptatum ipsum aut expedita cupiditate.</p>
{% endblock content %}