{% extends "base.html" %}
{% block nav %}
{% load youtube_thumbnail %}
{% load embed_video_tags %}

<li><a href="store">المتجر</a></li>
<li><a href="about">فريق العمل</a></li>
<li class="active"><a href="videos">الفيديوهات</a></li>
<li><a href="/">الصفحة الرئيسية</a></li>
{% endblock nav %}
{% block content %}
<div class="section">
    <!-- container -->
    <div class="container">
      {% for i in videos %}
        <div class="row" style="background-color:#f1f1f1;">
           <div class="col-md-7" style="direction:rtl;">
                <h3 style="color: #D10024; padding-top:15px">{{ i.title }}</h3>
                    {{ i.overview|safe }}
           </div>
           <div class="col-md-5 videoframe" style="overflow:visible;display: inline-block;">
               {% video i.video  %}
           </div>
        </div>
        <hr style="height:1px;border-width:0;color:gray;background-color:gray;width:60%;">
      {% endfor %}
    </div>
    <!-- container end -->
</div>
{% comment %} <div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div id="posts" class="col-md-10">
                <!-- store products -->
                <div class="row">

                    <!-- product -->

                    {% for i in videos %}

                    {% video i.video 'small' %}
                    {% endfor %}
                </div>

                <div class="store-filter clearfix">
                    <ul class="store-pagination">
                        <!--								<li class="active">1</li>-->
                        {% for page in paginator.page_range %}
                        {% if page == videos.number %}
                        <li class="active"><a href="?page ={{page}}">{{page}}</a></li>
                        {% else%}
                        <li class="page-item"><a href="?page={{page}}">{{page}}</a></li>
                        {% endif %}
                        {% endfor %}

                    </ul>

                </div>

                <!-- /store bottom filter -->
            </div>
            <!-- /STORE -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div> {% endcomment %}

{% endblock content %}
