{% extends "base.html" %}
{% block nav %}


<li><a href="store">المتجر</a></li>
<li><a href="about">فريق العمل</a></li>
<li class="active"><a href="videos">الفيديوهات</a></li>
<li><a href="/">الصفحة الرئيسية</a></li>
{% endblock nav %}
{% block content %}
<h2>Content for videos</h2>
<p>Lorem ipsum dolor sit amet. Ad sint aperiam et voluptatem pariatur et alias autem ut voluptatibus officiis non quia
    consequatur. Sed autem dolorem qui sequi dolorem est repellendus natus vel commodi laudantium sit ipsa modi in
    similique ipsum ut unde beatae.</p>
{% endblock content %}